---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

---

<PageLayout title="Slyvon Blanco | My home on the internet" description={HOME.DESCRIPTION}>
  <Container>
<section>
    <div class="flex items-center mb-6 animate">
      <img
        class="w-24 mr-5"
        src="/sly-memoji.svg"
        alt="Sly"
      />
      <div>
        <h1 class="font-bold text-black dark:text-white">Hi, I'm Sly</h1>
        <p class="leading-6 text-lg text-zinc-600 dark:text-zinc-500">
          I'm a web consultant and cybersecurity enthusiast
        </p>
      </div>
    </div>
  </section>

    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p>
            I consider myself a generalist and wear many hats, but I spend most of my time <Link href="https://aestheticpixels.io/" aria-label="AestheticPixels.io" external>making websites</Link> for clients or working on my own projects like <Link href="https://simplifiedfitness.io/" aria-label="SimplifiedFitness.io" external>SimplifiedFitness.io</Link>. When I'm not in front of a computer, you can probably find me exploring a new city, at a gym lifting heavy things, or at home rewatching a Christopher Nolan movie.
          </p>
          <p>
            For more, check out my <Link href="/about" aria-label="About">about page</Link>, or some of the <Link href="/blog">stuff I've written</Link>.
          </p>
        </article>
      </section>

      <section class="space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h4 class="font-semibold text-black dark:text-white">
            Latest Posts
          </h4>
          <Link href="/blog">
            View all 
          </Link>
        </div>
        <ul class="flex flex-col gap-3">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>

    </div>
  </Container>
</PageLayout>