---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-bold">
          <span class="text-black dark:text-white text-lg">slyvon</span>
        </div>
      </Link>
      <nav class="flex gap-3 text-zinc-500 text-sm">
        <Link href="/about" underline={false}>
          about
        </Link>

        <span>
        </span>

        <Link href="/blog" underline={false}>
          posts
        </Link>

        <span>
        </span>
        
        <Link href="/things" underline={false}>
          things
        </Link>
      </nav>
    </div>
  </Container>
</header>
